.landing {
  .header {
    margin-top: 6rem;
    text-align: center;
    font-size: 5rem;

    .letter {
      width: 1em;
      position: absolute;
      left: 0;
      right: 0;
    }
  }

  .sub {
    margin-top: 3rem;
  }

}
