.dot {
  &:hover {
    cursor: pointer;
  }
}

.business-data-popover {
  .ant-popover-title {
    font-size: 1.2rem;
    padding: 8px 16px;
  }
  .ant-popover-inner-content {
    .businessData {
      min-width: 200px;
      color: rgb(63, 63, 63);
      .bold {
        font-weight: 500;
      }
      .ant-divider {
        margin: 8px 0;
      }
    }
  }
}
