.test {
  padding: 50px;
  height: 200px;
}

.heat {
  background: radial-gradient(rgba(255, 0, 0, 0.5) 50%, rgba(255, 255, 0, 0.5), rgba(0,0,255, .5) 80%);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}