.map-container {
  height: 100%;
  .map-wrapper {
    padding: 10px;
    & > div {
      box-shadow: 0 0 4px rgba(119, 119, 119, 0.90);
    }
    // background-color: rgba(160, 160, 160, 0.726);
  }
}
