.nav-bar {
  height: 10vh;
  line-height: 10vh;
  padding: 0;
  background-color: white;
  .ant-menu {
    border-bottom: transparent;
    height: 9.7vh;
    line-height: 9.7vh;
    text-align: center;
    .ant-menu-item {
      font-size: 22px;
    }
  }
}
