.side-bar {
  padding-top: 6px;
  padding-left: 12px;
  .ant-select {
    width: 100%;
  }
  .radio-item {
    // display: block;
    height: 30px;
    line-height: 30px;
  }
  .ant-slider-mark {
    .ant-slider-mark-text:not(:first-child) {
      transform: translateX(-10px);
    }
  }

}
